---
upcoming_conferences:
  - name: Web Unleashed 2016
    details: October 3-4, Toronto
    website: http://fitc.ca/event/webu16/
---

<section id="hero">
  <div class="underlay"></div>
  <img id="hero" src="images/hero.jpg" alt="" />

  <div class="content">
    <h1>Alicia Sedlock</h1>
    <h2>is a front-end web developer and international public speaker, currently based in Boston. She loves talking about and embracing web standards, accessibility, front-end architecture, and all things CSS.</h2>
  </div>
</section>

<% if (current_page.data.upcoming_conferences) %>
  <div class="section flex">
    <%= partial(:conferences, :locals => { :heading => "Upcoming Conferences", :conferences => current_page.data.upcoming_conferences }) %>
  </div>
<% end %>

<div class="section flex">
  <h2>Recent Blog Posts</h2>

  <% blog.articles[0...5].each do |article| %>
    <%= partial(:item, :locals => { :linkText => article.title, :link => article, :subInfo => article.date.strftime("%b. %e, %Y") }) %>
  <% end %>
</div>

<div class="section flex">
  <h2>Silly Projects I've Made</h2>

  <%= partial(:item, :locals => { :linkText => "Apple Or Pokemon?", :link => "https://appleorpokemon.herokuapp.com/", :subInfo => "A quiz for those who think they're Pokemon masters." }) %>
  <%= partial(:item, :locals => { :linkText => "Grandma Ate Too Much Cake", :link => "https://grandmamadetoomuchcake.herokuapp.com/", :subInfo => "Made for Purple Monkey Game Jam, theme 'Too much of a good thing'." }) %>
  <%= partial(:item, :locals => { :linkText => "Horse Combat for Horsemanity", :link => "https://horsemanity.herokuapp.com/", :subInfo => "Made for Purple Monkey Game Jam, theme 'Light and dark'." }) %>
</div>

<div class="section" id="contact">
  <h2>I'm on the Internet</h2>

  <a href="http://www.twitter.com/aliciability"><img class="icon" src="images/icons/twitter.svg" /></a> <a href="http://github.com/aliciasedlock"><img class="icon" src="images/icons/github.svg" /></a> <a href="http://www.linkedin.com/in/aliciasedlock/"><img class="icon" src="images/icons/linkedin.svg" /></a> <a href="http://instagram.com/aliciasedlock"><img class="icon" src="images/icons/instagram.svg" /></a
</div>
